# PhonePe Payment Gateway Credentials
PHONEPE_MERCHANT_ID=
PHONEPE_SALT_KEY=
PHONEPE_SALT_INDEX=1
PHONEPE_URL=https://api-preprod.phonepe.com/apis/pg-sandbox/pg/v1/pay

# Other APIs
FAKESTORE_API_URL=https://fakestoreapi.com
